.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
dist/*
docs/*.xml
test.plone_addon/
var/
documentation/
devsrc/
# files
.installed.cfg
.mr.developer.cfg
.plone.versioncheck.tracked.json
.idea
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
reports/
yarn.lock
.mxmake/
.venv
*-mxdev.txt
.installed.txt
instance/
# excludes
